ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 25.5rem;
  width: 21rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

li a img {
  object-fit: cover;
  height: 14.5rem;
}

.content {
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
  position: relative;
  height: 7rem;
}

.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category {
  flex: 9;
}
.category span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.description {
  display: inline-block;
  justify-content: flex-start;
}

.restaurant {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.price {
  position: absolute;
  bottom: 0;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
