.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 100%;
  color: white;
  height: 3.5rem;
  border: none;
  outline: none;
  font-weight: 100;
  border-radius: 0.8rem;
  margin: 1rem auto;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}
