div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div a{
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: rgb(19, 20, 20);
}

a span {
  background:  rgb(187, 184, 184);
  color:rgb(15, 15, 15);
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
